<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>As a software developer, I am fascinated by the intersection of technology and human behavior. 
          I enjoy leveraging my technical expertise to solve complex problems and improve user experiences. 
           </p>
      </div>
      <div class="col-lg-4">
        <p>My curiosity and creativity drive me to explore new approaches to development and keep up-to-date with emerging technologies. 
          Through my work, I strive to make a meaningful impact on the world and the people around me. </p>
      </div>
      <!--
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
      -->
    </div>
  </div>
</section>
